<!-- Loading spinner -->
<div
  *ngIf="loading"
  class="loading-container d-flex justify-content-center align-items-center"
>
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="70">
  </mat-progress-spinner>
</div>

<!-- the application -->
<div class="site-container">
  <!-- <div class="site-header">
    <app-header></app-header>
  </div> -->
  <div class="site-content">
    <router-outlet></router-outlet>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-7P9DVD2QTC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-7P9DVD2QTC');
    </script>
    <p class="credits">By Marco Atencio for Alessia Pulgar</p>
  </div>
</div>
