<div class="box-grades">
  <div>
    <h1 class="text-center mb-4 mt-4">Notas</h1>
    <div class="row">
      <div class="col-3" style="padding-right: 30px">
        <h3 class="mb-3 text-center">Cursos</h3>
        <div *ngFor="let grade of grades">
          <div
            [ngClass]="!grade.select ? 'option' : 'option-select'"
            (click)="selectCourse(grade.codigoCurso)"
          >
            <p>
              {{ grade.descrCurso }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-9 box-grades-courses">
        <div class="row mb-4 grid-header">
          <h4 class="col-5">Evaluación</h4>
          <h4 class="col-4 text-center">Nota</h4>
          <h4 class="col-3 text-center">Peso</h4>
        </div>
        <ng-container *ngFor="let grade of gradeShow">
          <div
            class="row mb-3"
            *ngIf="grade.detalle_evaluacion !== 'NOTA FINAL'"
          >
            <p class="col-5">{{ grade.detalle_evaluacion }}</p>
            <input
              class="col-4"
              placeholder="0"
              value="{{ grade.nota == 0 ? '' : grade.nota }}"
              (blur)="onChangeValue($event, grade)"
            />
            <p class="col-3 text-center">{{ grade.peso }}%</p>
          </div>
        </ng-container>
        <div class="row">
          <p class="col-5">Nota Final</p>
          <p class="col-4 text-center">{{ getFinalGrade() }}</p>
          <p class="col-3 text-center">100%</p>
        </div>
      </div>
    </div>
  </div>
</div>
